* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.singlepost {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

.singlepost .title {
    text-align: center;
    margin: 10px 0;
}

.singlepost time {
    text-align: center;
    font-size: 12px;
    color: rgb(124, 119, 119);
}

.singlepostauthor {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bolder;
}

.imgContain {
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 20px;
}

.imgContain img {
    object-fit: contain;
    object-position: center center;
    width: 100%;
}

.editContainer {
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.editpostBtn {
    font-size: 20px;
    margin-right: 20px;
}
